# This is an environment for hhnk_qgis_plugin installation
name: threedipy

channels:
  - conda-forge

dependencies:
  #QGIS preinstalled
  - python=3.12.10 # equals MI python version
  - geopandas=1.0.1
  - fiona
  - pandas=2.2.2
  - scipy=1.13.0
  # - h5py=3.8.0 # incompatible met rest van env; conda solved naar 3.11.0

  #User folder
  - jupyterlab
  - ipywidgets
  - jupytext
  #External deps plugin
  - pytest
  - pytest-cov
  - pluggy #pytest dependency
  # - exceptiongroup=1.1.1 #pytest dependency
  - iniconfig #pytest dependency
  - tqdm
  - xarray
  - openpyxl # 3.1.2
  - cached_property
  - rtree
  - rioxarray
  - pyogrio
  - rasterio
  - affine #rxr dep
  - dask #rxr dep
  - matplotlib #=3.5.1 #3.9.0 gives RuntimeError: Entry point name 'inline' duplicated
  # See also: https://discourse.matplotlib.org/t/latest-versions-via-pip-jupyterlab-import-of-matplotlib-broken/24477/7
  - oracledb
  - folium
  - branca #folium dep
  - xyzservices #folium dep
  - ruff
  - pip
  - lazy_loader
  - click
  
  # Onderstaande zijn 3Di dep, maar wordt pas later geladen via nieuwe n&S deps loader (ws omdat dit alfabetisch gaat)
  # - geoalchemy2 
  # - sqlalchemy
  - alembic


  - pip: # 3Di packages are not conda installable and are therefore installed by PIP
    - threedi_modelchecker
    - threedi_scenario_downloader #Lizard API v4 only
    - threedi_schema
    - threedi-api-client
    - threedigrid_builder
    - threedigrid
    - threedidepth

    #Plugin # TODO WVE tijdelijk uitgezet, editable install script werkt niet bij mij
    - hhnk_research_tools
    - hhnk_threedi_tools
