# This is an environment for hhnk_qgis_plugin installation
name: hhnk_threedi

channels:
  - conda-forge
  - defaults

dependencies:
  #QGIS preinstalled

  - python=3.9.5 # equals MI python version
  - geopandas=0.12.2
  - pandas=1.1.3
  - scipy=1.6.2
  - h5py=2.10.0

  #User folder
  - jupyterlab=3.6.3
  - ipywidgets=8.0.6
  #External deps plugin

  - pytest=7.2.2
  - pytest-cov
  - pluggy=1.0.0 #pytest dependency
  # - exceptiongroup=1.1.1 #pytest dependency
  - iniconfig=2.0.0 #pytest dependency
  - tqdm=4.64.0


  - xarray=2022.3.0
  - openpyxl=3.1.2
  - cached_property=1.5.2
  - rtree=1.0.1

  - pip: # 3Di packages are not conda installable and are therefore installed by PIP
    - threedi_modelchecker==2.4.0 #ThreediToolbox 2.5.5
    - threedi_scenario_downloader==1.2 #Lizard API v4 only
    - threedi_schema==0.217.11 #ThreediToolbox 2.5.4
    - threedi-api-client==4.1.2 #3Di Models and Simulations 3.5.2
    - threedigrid_builder==1.12.1 #ThreediToolbox 2.5.5
    - threedigrid==2.0.6 #ThreediToolbox 2.5.4
    - threedidepth==0.6.1 #ThreediToolbox 2.5.4

