# This is an environment for hhnk_qgis_plugin installation
name: hhnk_threedi

channels:
  - conda-forge
  - defaults

dependencies:
  #QGIS preinstalled
  - python=3.9.5 # equals MI python version
  - geopandas=0.11.1
  - pandas=1.1.3
  - scipy=1.6.2

  # - attrs=22.2.0
  # - apscheduler=3.10.1
  # - click=8.1.3
  # - click-plugins=1.1.1
  # - colorama=0.4.6
  # - exceptiongroup=1.1.1
  # - iniconfig=2.0.0
  # - ipyfilechooser=0.6.0
  # - jupyter=1.0.0
  # - geoalchemy2=0.10.2
  # - tomli=2.0.1
  # - tzlocal=2.1
  # - packaging=23.0
  # - pluggy=1.0.0
  # - pygeos=0.14
  # - python-dateutil=2.8.2
  # - pytz=2020.1
  # - pytz-deprecation-shim=0.1.0.post0
  # - sqlalchemy=1.3.24

  #User folder
  - jupyterlab=3.6.3
  - ipywidgets=8.0.6
  #External deps
  - pytest=7.2.2
  - pytest-cov
  - tqdm=4.64.0
  - xarray=2022.3.0

  - pip: # 3Di packages are not conda installable and are therefore installed by PIP
    # - et-xmlfile==1.1.0
    - openpyxl==3.1.2
    - threedi_modelchecker==1.0.1
    - threedi_scenario_downloader==0.16
    - threedi_schema==0.214.4
    - threedi_raster_edits==0.26
    - threedi-api-client==4.1.1
    - threedigrid_builder==1.8.0

    #Plugin
    - hhnk_research_tools==2023.1
    - hhnk_threedi_tools==2023.1