test_main.py
venv_development_tools
requirements_before_pb_tool_install.txt
__pycache__
zip_build
.idea
.vscode
*.pyc
.spyproject
hhnk_threedi_plugin\external-dependencies
hhnk_threedi_plugin/api_key.txt
*.bak
local_settings.py
hhnk_threedi_plugin/env/environment_dev_spyder.yml
hhnk_threedi_plugin/external-dependencies/*
hhnk_threedi_plugin/logs/*
hhnk_threedi_plugin/resources_rc.py
hhnk_threedi_plugin/hhnk_toolbox_dockwidget_base_ui.py
Thumbs.db
.ipynb_checkpoints

# documenation
_build/*
*.cmd
site/*
