new_project
*/04_test_results
model_test/01_source_data/modelbuilder_output/logging/
model_test/01_source_data/modelbuilder_output/preprocessed/
model_test/test_migration.sqlite
_backup/
temp/
dl
revisions/
hydamo_validation/